#editor-workspace {
    height: 580px;
}

#minimizeTerminal{
    margin-right: 15px;
}

#reloadTerminal{
    margin-right: 15px;
}

#terminal-fullscreen{
    margin-right: 15px;
}

#terminal-iframe{
    background-color: #3c3030;
    background:url(rolling.gif) center center no-repeat;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

#statusBar{
    margin-top: -15px;
}
#terminal-workspace{
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
}

#terminal-panel{
    height: 100%;
}

.panel.noborder {
    border: none;
    box-shadow: none;
}
.panel.noborder > .panel-heading {
    border: 1px solid #dddddd;
    border-radius: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#filetree {
    height: 100%;
}

#editor-panel {
    height: 100%;
}

#output-panel {
    height: 100%;
}

#fileButton {
    display: none;
}

div.text-editor-panel {
    height: 100%;
    /*width:100%;*/
}

#codeEditor {
    position: relative;
    height: 100%;
    width: 100%;
}

#executeButton {
    margin-left: 20px;
    width: 100%;
}

#stdinButton {
    width: 100%;
    margin-left: 20%;
}

.CodeMirror {
    position: relative;
    height: 470px;
}

.panel-actions {
    margin-top: -20px;
    margin-bottom: 0;
    text-align: right;
}

.panel-actions a {
    color: #333;
}

.panel-fullscreen {
    position: fixed;
    display: block;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.terminal-fullscreen {
    position: fixed;
    display: block;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

#output-panel>.panel {
    height: 100%;
    overflow-y: auto;
}


#filetree-panel {
    height: 100%;
    overflow: auto;
}

#filetreepanel .fancytree-container {
    position: relative;
    height: 100%;
    overflow-y: auto;
    font-size: 12pt;
}

#stdoutput {
    /*enable line wrap for output window1*/
    position: relative;
    /*height: 100%;*/
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

#stdinPanel {
    /*sliding panel is hidden by default*/
    display: none;
    position: absolute;
}

#filetreepanel {
    background: rgba(71, 43, 232, 0.29);
}
