@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#filemanager {
    height: 600px;
    overflow: hidden;
}

object {
    width: 100%;
    height: 100%;
}

#filemanager-iframe {
    width: 100%;
    height: 100%;
}

a.i {
    float: right;
}

body {
    background: #2d2c41;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
    z-index: -4;
}

.navbar {
    margin-bottom: 10px;
}

.dropdown-toggle {
    font-size: 15px !important;
}

.dropdown {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.dropdown-menu>li>a {
    color: #428bca;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.dropdown ul.dropdown-menu {
    border-radius: 4px;
    box-shadow: none;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -8px;
    right: 8px;
    z-index: 10;
}
