#editor-workspace {
    height: 550px;
}

#filetree {
    height: 100%;
}

#editor-panel {
    height: 100%;
}

#output-panel {
    height: 100%;
}

#fileButton {
    display: none;
}

#text-editor-panel {
    margin-top: 10px;
    height: 430px;
    width:100%;
}

#codeEditor {
    height: 100%;
    width: 100%;
}

#executeButton {
    width: 100%;
}

#stdinButton {
    width: 100%;
}

.CodeMirror{
    position: relative;
    height: 100%;

}
