
.headingBar{
    background: #EAEAEA;
    text-align: center;
}

h3{
    font-size: 16px;
}

#skillDiv{
    background: #373743;
    margin-top: 20px;
    color: white;
    padding:5px;
    border-radius: 10px;
}

#picUpload{
    margin-top: 50px;
}

#userImage{
    margin-left: 50px;
    width:200px;
    height: 200px;
}

#tagInput{
    width: 100%;
}

label{
    text-align: center;
}

#saveProfileButton{
    height: 40px;
    width: 150px;
    color:white;
}

#resetProfileButton{
    float: right;
    height: 40px;
    width: 150px;
}
