<!-- login.html -->
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="form" method="post" action=".">{% csrf_token %}
        <div class="form-group">
            <input type="text" placeholder="Username" name="username" class="form-password form-control" id="form-password">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" name="password" class="form-password form-control" id="form-password-field">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" value="Login" id="login-button">Login</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/register/' ">Register</button>
        </div>
        <input type="hidden" name="next" value="/home"/>
    </form>

{% endblock %}
