<!-- home.html -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Editor</title>
        {% load staticfiles %}
        <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css'/>
        <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/zebra-alert/zebra_dialog.css' %}" rel="stylesheet" type="text/css"/>
        <!-- custom alert box css -->

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">NITJ COMPILER</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/home/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="/editor/">Editor</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <div class="btn-group" style="margin-top:5px">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{user}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="well-sm">
                                    <a href="#">Account</a>
                                </li>
                                <li class="well-sm">
                                    <a href="/logout/">Logout</a>
                                </li>
                            </ul>
                        </div>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="mt-1">
            <h1>Sticky footer</h1>
        </div>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
        <p>Use
            <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a>
            if need be, too.</p>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/editorlogic.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/treelogic.js' %}"></script>
    <!-- main editor js -->
    <script src="{% static 'js/zebra_dialog.js' %}"></script>
    <!-- custom alert box -->
</body>
</html>
