{% extends "editor/header.html" %}
{% block content %}
    <div class="nav-divider">
        <h1 id="NITJheader">
            NITJ COMPILER</h1>
    </div>

    <div id="mainBlock">

        <div class="treeView">
            <!-- this contains treeview of directory -->
        </div>

        <div class="editorSpace">
            <!-- this contains editor area -->
            <div class="menuBar">

                <div class="inner">Save as:
                    <input type="text" id="fname" placeholder="File Name">
                </div>
                <div class="inner"><input type="submit" value="Save"></div>

                <div class="inner">
                    <select id="languageSelect" onchange="langChange(this);">
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="py">Python</option>
                    </select>

                </div>
                <div class="inner"><input type='file' id="fileButton" onchange='openFile(event)'>
                </div>
                <div class=" inner"><input type="reset" value="Clear" id="clearButton"></div>
                <div class=""></div>
                <br>
            </div>
            <div>
                <textarea id="codeEditor" name="code">//Your code goes here</textarea>
            </div>

            <div class="statusBar">
                <div class="stdinDiv"><input type="button" id="stdinButton" value="Stdin"></div>
                <div class="execDiv"><input type="button" id="executeButton" value="Execute"></div>
            </div>
        </div>

        <div class="outputPane">
            <!-- here output will be displayed -->
            <div style="display:block">
                <textarea id="stdinput" placeholder="Enter your custom input" name="stdinput" rows="6" cols="30"></textarea>

                <textarea id="stdoutput" placeholder="Your output appears here" name="stdout" rows="6" cols="120"></textarea>

            </div>
        </div>
        <br>

    </div>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"), {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-c"
        });

        //Detect changes in document window
    </script>

{% endblock %}
