{% extends "editor/header.html" %}
{% block content %}
    <div class="nav-divider">
        <h1 id="NITJheader">
            NITJ COMPILER</h1>
    </div>

    <div id="mainBlock">

        <div class="treeView">
            <!-- this contains treeview of directory -->
        </div>

        <div class="editorSpace">
            <!-- this contains editor area -->
            <div class="menuBar">

                <div class="inner">
                    <button type="button" id="saveButton" name="saveButton">Save</button>
                    <input type="text" id="fname" placeholder="File name">
                    <select id="languageSelect" onchange="langChange(this);">
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="py">Python</option>
                    </select>
                    <input type="reset" value="Clear" id="clearButton">
                    <select onchange="selectTheme()" id=selectTheme>
                        <option selected>default</option>
                        <option>3024-day</option>
                        <option>3024-night</option>
                        <option>abcdef</option>
                        <option>ambiance</option>
                        <option>base16-dark</option>
                        <option>base16-light</option>
                        <option>bespin</option>
                        <option>blackboard</option>
                        <option>cobalt</option>
                        <option>colorforth</option>
                        <option>dracula</option>
                        <option>duotone-dark</option>
                        <option>duotone-light</option>
                        <option>eclipse</option>
                        <option>elegant</option>
                        <option>erlang-dark</option>
                        <option>hopscotch</option>
                        <option>icecoder</option>
                        <option>isotope</option>
                        <option>lesser-dark</option>
                        <option>liquibyte</option>
                        <option>material</option>
                        <option>mbo</option>
                        <option>mdn-like</option>
                        <option>midnight</option>
                        <option>monokai</option>
                        <option>neat</option>
                        <option>neo</option>
                        <option>night</option>
                        <option>panda-syntax</option>
                        <option>paraiso-dark</option>
                        <option>paraiso-light</option>
                        <option>pastel-on-dark</option>
                        <option>railscasts</option>
                        <option>rubyblue</option>
                        <option>seti</option>
                        <option>solarized dark</option>
                        <option>solarized light</option>
                        <option>the-matrix</option>
                        <option>tomorrow-night-bright</option>
                        <option>tomorrow-night-eighties</option>
                        <option>ttcn</option>
                        <option>twilight</option>
                        <option>vibrant-ink</option>
                        <option>xq-dark</option>
                        <option>xq-light</option>
                        <option>yeti</option>
                        <option>zenburn</option>
                    </select>
                </div>
                <div class="inner"><input type='file' id="fileButton" onchange='openFile(event)'>
                </div>
            </div>
            <div id="codeEditorDiv">
                <textarea id="codeEditor" name="code">//Your code goes here</textarea>
            </div>

            <div class="statusBar">
                <div class="stdinDiv"><input type="button" id="stdinButton" value="Stdin"></div>
                <div class="execDiv"><input type="button" id="executeButton" value="Execute"></div>
            </div>
        </div>

        <div class="outputPane">
            <!-- here output will be displayed -->
            <textarea id="stdinput" placeholder="Enter your custom input" name="stdinput"></textarea>
            <textarea id="stdoutput" placeholder="Your output appears here" name="stdout"></textarea>

        </div>
    </div>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"), {
            lineNumbers: true,
            lineWrapping: true,
            matchBrackets: true,
            mode: "text/x-c",
            styleActiveLine: true
        });

        //Detect changes in document window
    </script>

{% endblock %}
